body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.5;
  color: $color-grey-dark;
}

.heading-primary {
  font-weight: bold;
  font-size: 3.4rem;
  margin-bottom: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  padding: 0.7px;
  transition: transform 0.9s, opacity 0.9s;
}

.heading-secondary {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: capitalize;
  transition: transform 0.9s, opacity 0.9s;
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  transition: transform 0.9s, opacity 0.9s;
}

.paragraph {
  font-size: $default-font-size;
}

.front_text {
  max-width: 600px;
  background: rgba(49, 84, 124, 0.808);
  padding: 20px 0px;
  margin: 0 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.794);
  animation-name: moveInLeft;
  animation-duration: 0.9s;
  animation-timing-function: ease-out;
  transition: transform 0.9s, opacity 0.9s;
  p {
    width: 90%;
  }
}

.web-text {
  @include respond(phone) {
    display: none;
  }
}

.mobile-text {
  display: none;
  @include respond(phone) {
    display: block;
  }
}
