@import "./projects.scss";

.about-section {
  margin-top: 4rem;
  .aboutus {
    width: 100%;
    .whatwedo {
      margin-top: 4rem;
      figure {
        float: left;
        width: 650px;
        margin: 0 2rem 0 0;
      }
      .text {
        flex-direction: column;
      }
      .aboutus-img {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 1293px) {
  .about-section {
    .whatwedo {
      flex-direction: column;
      figure {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          width: 100%;
        }
      }
    }
  }
}
