.contact-section {
  margin-top: 5rem;
  .text-content {
    margin-bottom: 4rem;
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .contact_section__boxs {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .box {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border: 1px solid rgba(126, 126, 126, 0);
        width: 30rem;
        text-align: center;
        transition: transform 0.9s, opacity 0.9s;

        p {
          font-weight: 600;
          font-size: $default-font-size;
          margin: 1.9rem 0;
          text-transform: capitalize;
        }
        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 10rem;
          height: 10rem;
          background: rgba(48, 147, 130, 0.08);
          .phone {
            background: url(/img/phone.svg);
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: 4rem;
          }
          .mail {
            background: url(/img/send.svg);
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: 4rem;
          }
          .location {
            background: url(/img/map_pin.svg);
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: 4rem;
          }
        }
      }
    }
  }

  .subtitle {
    width: 56%;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    text-align: center;
  }
}

@media all and (max-width: 1000px) {
  .contact-section {
    .container {
      .contact_section__boxs {
        flex-direction: column;
        align-items: center;
        .box {
          width: 100%;
          margin-bottom: 4rem;
        }
        .box:last-child {
          padding-bottom: 0;
        }
      }
    }
    .subtitle {
      width: 100%;
    }
  }
}
