.container {
  display: flex;
  margin: auto;
  max-width: 1350px;
  padding: 0 20px;
  width: 100%;
}

.container--column {
  flex-direction: column;
}

.container--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin-bottom: 14rem;
  transition: transform 0.9s, opacity 0.9s;
}

.margin-b-0 {
  margin-bottom: 0;
}
