@import "./variable.scss";
@import "./projects.scss";


.about_section {
  margin-top: 50px;
  .container {
    .aboutus {
      width: 100%;
      .title {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .whatwedo {
        display: flex;
        width: 100%;
        padding: 40px 0;
        figure {
          flex: 2;
        }
        .text {
          display: flex;
          flex-direction: column;
          flex: 2;
        }
      }
    }
  }
}

@media all and (max-width: 1293px) {
  .about_section {
    .whatwedo {
      flex-direction: column;
      figure {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        img {
          width: 100%;
        }
      }
    }
  }
}
