@import "abstracts/variable";
@import "abstracts/mixins";

@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "base/animations";

@import "layout/flexbox";
@import "layout/footer";
@import "layout/header";
@import "layout/navigation";

@import "components/composition";
@import "components/socialMedia";
@import "components/miniSlide";
@import "components/button";

@import "pages/home";
@import "pages/about";
@import "pages/contact";
@import "pages/partners";
@import "pages/projects";

@media all and (max-width: 603px) {
  .partners_section {
    .container {
      .partners_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        figure {
          padding: 20px 40px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

/* --------- RESPONSIVE --------- */

/* --------- header --------- */

@media all and (max-width: 1120px) {
  .header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 3;
/*    &__menu {
      label {
        display: block;
        position: absolute;
        top: 28px;
        right: 20px;
        z-index: 4;
        position: fixed;
        rect {
          fill: #fff;
        }
      }
      #myburger:checked + nav {
        left: 0;
      }
    } */
    &__navigation {
      position: absolute;
      background: rgb(17, 22, 42);
      width: 100%;
      left: -9999px;
      right: 0;
      top: 0;
      padding-top: 127px;
      padding-bottom: 25px;
      display: flex;
      flex-direction: column;
      z-index: 3;
      position: fixed;
      .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .nav-link {
          padding: 20px 0;
          width: 100%;
          display: flex;
          justify-content: center;
          a:hover {
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }
      .resplogo {
        position: absolute;
        display: block;
        top: 0px;
        left: 20px;
        img {
          width: 150px;
        }
      }
      .resp-social-media {
        display: flex;
        justify-content: center;
        border-top: 1px solid rgba(255, 255, 255, 0.329);
        width: 100%;
        margin-top: 20px;
        a.fb ~ a {
          padding-left: 20px;
        }
        a {
          margin-top: 25px;
        }
      }
    }
    .social-media {
      display: none;
    }
  }

  .header .menu .logo {
    position: absolute;
    display: block;
    top: 0px;
    left: 20px;
  }
  .header .menu .logo img {
    width: 150px;
  }
}

/* --------- INFO SECTION --------- */
@media all and (max-width: 1325px) {
  .info-section {
    .container {
      .briefinfo {
        flex-direction: column;
        &__box {
          max-width: 100%;
          height: auto;
          padding: 40px 0;
        }
        &__box:nth-child(2) {
          margin: 40px 0;
        }
      }
    }
  }
}

/* --------- Footer SECTION --------- */
@media all and (max-width: 904px) {
  /* --------- Footer SECTION --------- */
  .footer {
    &__top {
      flex-direction: column;
      align-items: center;
      .logo {
        display: none;
      }
      li:first-child {
        padding-left: 0;
      }
    }
    &__bottom {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__socialmedia {
      p {
        display: none;
      }
      .social-media {
        margin-bottom: 20px;
      }
    }
  }
  .section__title {
    font-size: 30px;
    line-height: 1.9rem;
  }

  section {
    margin-bottom: 100px;
  }
}

/* --------- Progress Section--------- */
@media all and (max-width: 870px) {
  .progress {
    width: 100%;
    flex-direction: column;
    &__box {
      figure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        img {
          width: 90px;
        }
      }
      .number {
        font-size: 50px;
        margin: 30px 0;
      }
      .name {
        font-size: 20px;
      }
    }
    &__box:nth-child(2) {
      margin: 50px 0;
    }
  }
}

/* --------- QUOTES SECTION --------- */

@media all and (max-width: 870px) {
  .quotes_section {
    .swiper-pagination {
      margin-top: 15px;
    }
  }
}
